---
---

$headings-font-weight: 400;

@import
  "bourbon",
  "bourbon-deprecated-upcoming",
  "bootstrap",
  "partials",
  "slick"
;

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}
body {
  font-family: $roboto;
  color: $main-text;
  background-color: $background;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $brandon;
    color: $main-text;
  }
  p {
    font-family: $roboto;
    color: $main-text;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: em(14, 14);
  }
  a {
    &:focus, .no-touch &:focus {
      @extend %focus-active;
    }
    &:active, .no-touch &:active {
      @extend %focus-active;
    }
  }
}

.img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.main-content {
  min-height: 100%;
  position: relative;
  background-color: $background;
  z-index: 2;
  text-align: center;
  .section {
    background-color: $background;
    h1 {
      text-transform: uppercase;
      font-size: em(26, 14);
      font-weight: 500;
      letter-spacing: 3px;
    }
    p {
      color: $main-text;
    }
    &.landing-section {
      h1 {
        margin-top: 0;
        margin-bottom: 30px;
        color: $main-text;
        letter-spacing: 3px;
        line-height: 70px;
        @include media(mobile) {
          line-height: 36px;
          font-size: em(14, 14);
          text-align: center;
        }
        @include media(tablet) {
          font-size: em(38, 14);
        }
        @include media(desktop) {
          font-size: em(38, 14);
        }
      }
      p {
        font-size: em(14, 14);
        padding-left: 28px;
        border-left: solid 2px $border-color;
        padding-top: 2px;
        letter-spacing: 1px;
        span {
          color: $secondary-text;
          font-family: $brandon;
          font-size: em(14, 14);
          font-weight: 600;
          padding-bottom: 4px;
          display: block;
          padding-top: 10px;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        @include media(mobile) {
          padding-left: 10px;
          padding-right: 10px;
          border-left: none;
          padding-top: 2px;
          letter-spacing: 1px;
          text-align: center;
          line-height: 22px;
          font-size: em(12, 14);
          margin-bottom: 0;
          span {
            font-size: em(14, 14);
          }
        }
      }
    }
    &.about-section, &.contact-section {
      h1 {
        font-family: $brandon;
        margin-bottom: 22px;
        font-size: em(24, 14);
        font-weight: 600;
        letter-spacing: 3px;
      }
      h5 {
        font-size: em(16, 14);
        font-weight: 600;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        border-top: solid 1px $border-color;
        padding-top: 20px;
        margin-top: 30px;
        padding-bottom: 12px;
      }
      .sub-section {
        border-left: 2px solid $border-color;
        padding-left: 28px;
        padding-bottom: 12px;
        padding-top: 5px;
        margin-bottom: 20px;
        p {
          font-size: em(14, 14);
          line-height: 1.75;
          margin-bottom: 20px;
          span {
            font-family: $brandon;
            color: $secondary-text;
            font-size: em(12, 14);
            font-weight: 600;
            padding-bottom: 8px;
            display: block;
            padding-top: 10px;
            letter-spacing: 1.5px;
          }
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
    &.about-section {
      h1 {
        @include media(mobile) {
          font-size: em(14, 14);
          text-align: center;
          margin-bottom: 12px;
          padding-top: 5px;
        }
      }
      p {
        margin-bottom: 32px;
        @include media(mobile) {
          font-size: em(12, 14);
          line-height: 22px;
          text-align: center;
          margin-bottom: 14px;
        }
      }
      .sub-section {
        @include media(mobile) {
          border-left: none;
          padding-left: 10px;
          padding-bottom: 0px;
          padding-top: 0px;
          padding-right: 10px;
          margin-bottom: 0px;
          text-align: center;
          p {
            margin-bottom: 5px;
            font-size: em(12, 14);
            line-height: 20px;
            span {
              font-size: em(11.5, 14);
              padding-bottom: 2px;
              padding-top: 0px;
            }
          }
        }
      }
    }
    &.contact-section {
      h1 {
        @include media(mobile) {
          font-size: em(14, 14);
          text-align: center;
          margin-bottom: 12px;
          padding-top: 5px;
        }
      }
      p {
        margin-bottom: 30px;
        &:last-child {margin-bottom: 0px;}
        span {color: $link;}
        @include media(mobile) {
          font-size: em(12, 14);
          line-height: 22px;
          text-align: center;
          margin-bottom: 20px;
          a.social-link {
            display: block;
            border-bottom: none;
            margin: 0 auto;
            padding: 0 0 10px;
          }
        }
        a {
          color: $secondary-text;
          font-style: italic;
          letter-spacing: 1px;
          text-decoration: none;
          line-height: 30px;
          padding: 0px 0 2px;
          border-bottom: solid 1px $border-color;
          margin-right: 10px;
          @include transition(all 0.2s ease-out);
          &.email {
            color: $main-text;
            font-style: normal;
            border-bottom: solid 1px $border-color;
          }
          &:hover, .no-touch &:hover {
            text-decoration: none;
            color: $main-text;
          }
          &:focus, .no-touch &:focus {
            @extend %focus-active;
          }
          &:active, .no-touch &:active {
            @extend %focus-active;
          }
        }
      }
    }
  }
  .work-content {
    text-align: left;
    .container-arrows {
      display: block;
      float: right;
      margin-top: 28px;
      .fp-controlArrow {
        &.fp-prev {
          background: transparent url("{{ '/src/img/left.svg' | prepend: site.baseurl }}") no-repeat;
          width: 28px;
          height: 28px;
          background-size: 28px 28px;
          float: left;
          margin-right: 12px;
          opacity: .3;
          display: block;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
        &.fp-next {
          background: transparent url("{{ '/src/img/right.svg' | prepend: site.baseurl }}") no-repeat;
          width: 28px;
          height: 28px;
          background-size: 28px 28px;
          float: left;
          margin-right: 0px;
          opacity: .3;
          display: block;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
    h1 {
      font-size: em(22, 14);
      font-weight: 600;
      letter-spacing: 1.5px;
      margin-bottom: 7px;
      color: $main-text;
      margin-top: 18px;
    }
    p {
      font-size: em(18, 14);
      color: $main-text;
      letter-spacing: inherit;
      line-height: 1.5;
      font-weight: 400;
      &.subtitle {
        margin-bottom: 12px;
      }
    }
    .col-md-2 {
      text-align: right;
    }
  }
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  @include transition-property(transform);
  @include transition-duration(.4s);
  &.lateral-menu-is-open {
    @include transform(translateX(260px));
  }
}

header {
  position: absolute;
  top: 20px;
  height: 40px;
  width: 40px;
  z-index: $header-zindex;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  @include transition-property(transform);
  @include transition-duration(.4s);
  @include media(mobile) {
    left: 5px;
    top: 5px;
  }
  @include media(tablet) {
    left: 5px;
    top: 5px;
  }
  @include media(desktop) {
    left: 18px;
    top: 20px;
  }
  &.lateral-menu-is-open {
    @include transform(translateX(260px));
  }
  &.is-fixed {
    position: fixed;
  }
}

#top-nav {
  position: absolute;
  top: 0;
  right: 120px;
  height: 100%;
  display: none;
  ul {
    height: 100%;
    padding-top: 18px;
  }
  li {
    display: inline-block;
    margin-right: 1em;
  }
  a {
    display: inline-block;
    padding: .5em;
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
    .no-touch &:hover {
      color: rgba($white, .7);
    }
  }
  @include media(mobile) {
    display: block;
  }
}

#menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  .menu-icon {
    display: inline-block;
    position: absolute;
    @include center;
    width: 18px;
    height: 2px;
    background-color: $main-text;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    &::before, &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: inherit;
      left: 0;
      transition-duration: 0.6s;
      transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    }
    &::before {
      bottom: 6px;
    }
    &::after {
      top: 6px;
    }
  }
  &.is-clicked {
    .menu-icon {
      background-color: rgba($main-text, 0);
      &::before, &::after {
        background-color: rgba($main-text, 1);
      }
      &::before {
        bottom: 0;
        @include transform(rotate(45deg));
      }
      &::after {
        top: 0;
        @include transform(rotate(-225deg));
      }
    }
  }
}

#lateral-nav {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;
  width: 260px;
  background-color: $white;
  overflow-y: auto;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .25s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .25s 0s, visibility 0s .4s;
  transition: transform .25s 0s, visibility 0s .4s;
  @include transform(translateX(-80px));
  .menu {
    width: 100%;
    position: absolute;
    padding: 5px 32px;
    @include center(y);
    .brand {
      margin-bottom: 48px;
      .logo {
        display: block;
        img {
          width: 92px;
        }
      }
    }
  }
  .social {
    margin-bottom: 0;
    @include transform(translateX(-10px));
    transition: opacity .2s ease 0s;
    -webkit-transition: opacity .2s ease 0s;
    -moz-transition: opacity .2s ease 0s;
    opacity: 0;
    a {
      color: $secondary-text;
      font-size: em(13, 14);
      font-style: italic;
      letter-spacing: .55px;
      text-decoration: none;
      line-height: 30px;
      padding: 0px 0 2px;
      border-bottom: solid 1px $border-color;
      @include transition(all 0.2s ease-out);
      &.mail {

      }
      &:hover, .no-touch &:hover {
        color: $main-text;
        border-bottom: solid 1px $border-color;
      }
    }
  }
  .navigation {
    margin: 0px 0px 18px;
    @include transform(translateX(-10px));
    transition: opacity .2s ease 0s;
    -webkit-transition: opacity .2s ease 0s;
    -moz-transition: opacity .2s ease 0s;
    opacity: 0;
    li {
      margin-bottom: 18px;
      &:first-child {
        margin-bottom: 0px;
        a {
          padding-bottom: 0px;
          img {
            margin: 0 auto 52px;
            width: 92px;
          }
        }
      }
      a {
        font-family: $brandon;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        font-size: em(16, 14);
        letter-spacing: 2px;
        @include transition(color 0.2s ease-out);
        line-height: 28px;
        color: $secondary-text;
        &.submenu-open {
          text-decoration: none;
          color: $main-text;
        }
        &:hover, .no-touch &:hover {
          text-decoration: none;
          color: $main-text;
        }
        &:focus, .no-touch &:focus {
          @extend %focus-active;
        }
        &:active, .no-touch &:active {
          @extend %focus-active;
        }
      }
      .sub-menu {
        display: none;
        li {
          margin-bottom: 0px;
          a {
            font-family: $roboto;
            font-size: em(14, 14);
            font-weight: 400;
            text-transform: none;
            color: $secondary-text;
            letter-spacing: .55px;
            line-height: 28px;
            margin-left: 0px;
            &:hover, .no-touch &:hover {
              color: $main-text;
              border-bottom: none;
            }
          }
        }
      }
      &.active {
        a {
          color: $main-text;
          &.logo {border-bottom: none;}
        }
        .sub-menu {
          a {border-bottom: none;}
        }
      }
    }
  }
  &.lateral-menu-is-open {
    @include transform(translateX(0));
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
    .navigation, .social {
      @include transform(translateX(0));
      transition: transform .85s ease-in-out 0.0s, opacity 1.55s 0s ease-in-out;
      -webkit-transition: -webkit-transform .85s ease-in-out 0.0s, opacity 1.55s 0s ease-in-out;
      -moz-transition: -moz-transform .85s ease-in-out 0.0s, opacity 1.55s 0s ease-in-out;
      opacity: 1;
    }
  }
}

.slideshow {
  img.img-responsive {
    width: 980px;
    margin: 0 auto;
    padding: 10px 0px 0px;
  }
  @include transform(translateX(0));
  -webkit-transition: -webkit-transform .4s 0s;
  -moz-transition: -moz-transform .4s 0s;
  transition: transform .4s 0s;
  @media screen and (min-width: $screen-md-min) {
    &.slideshow-active {
      @include transform(translateX(-130px));
      -webkit-transition: -webkit-transform .4s 0s;
      -moz-transition: -moz-transform .4s 0s;
      transition: transform .4s 0s;
    }
  }
}

.slick-dots {
  bottom: 0px;
  margin-bottom: 12px;
  padding-left: 0;
  @media screen and (max-width: $screen-md-min) {
    bottom: -30px;
  }
}

.slick-dots li {
  margin: 0 2px;
}

.fp-slidesNav {
  position: absolute;
  padding: 30px 0 0;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 20px;
  z-index: 4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include transform(translateX(0));
  -webkit-transition: all .4s 0s;
  -moz-transition: all .4s 0s;
  transition: all .4s 0s;
  @media screen and (max-width: $screen-md-min) {
    display: none;  
  }
  .list-inline > li {
    padding-left: 12px;
    padding-right: 12px;
    a {
      font-family: $brandon;
      position: relative;
      text-transform: uppercase;
      font-weight: 600;
      font-size: em(16, 14);
      letter-spacing: 2px;
      @include transition(color 0.2s ease-out);
      line-height: 28px;
      color: $secondary-text;
      opacity: .35;
      &:hover {
        text-decoration: none;
        color: $main-text;
        opacity: 1;
      }
      &:focus, .no-touch &:focus {
        @extend %focus-active;
      }
      &:active, .no-touch &:active {
        @extend %focus-active;
      }
      &.active {
        color: $main-text;
        opacity: 1;
      }
    }
  }
  @media screen and (min-width: $screen-md-min) {
    &.fp-slideshow-active {
      @include transform(translateX(-130px));
      -webkit-transition: all .4s 0s;
      -moz-transition: all .4s 0s;
      transition: all .4s 0s;
      // opacity: 0;
    }
  }
}