---
---

$headings-font-weight: 400;

@import
  "bourbon",
  "bourbon-deprecated-upcoming",
  "bootstrap",
  "partials",
  "slick"
;

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  font: {
    family: $primary-font;
  }
  color: $main-text;
  background-color: $background;
  &.loaded {
    opacity: 1;
  }
  p {
    letter-spacing: .25px;
    line-height: 1.5;
    font-size: 16px;
    color: $secondary-text;
  }
  a {
    color: $link;
    &:focus, .no-touch &:focus {
      text-decoration: none;
      outline: none;
      -moz-outline-style: none;
    }
    &:active, .no-touch &:active {
      text-decoration: none;
      outline: none;
      -moz-outline-style: none;
    }
  }

}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

/* --------------------------------

Main components

-------------------------------- */

.main-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  position: relative;
  background-color: $background;
  z-index: 2;
  text-align: center;

  .section {
    background-color: $background;
  }
  .work-content {
    border-top: 1px solid $border-color;
    text-align: left;
    .container-arrows {
      display: block;
      float: right;
      margin-top: 28px;
      .fp-controlArrow {
        &.fp-prev {
          background: transparent url("{{ '/src/img/left.svg' | prepend: site.baseurl }}") no-repeat;
          width: 30px;
          height: 30px;
          background-size: 30px 30px;
          float: left;
          margin-right: 15px;
          opacity: .3;
          display: block;
          // -webkit-transition: -webkit-transform 0.2s ease, opacity 0.25s ease;
          // -moz-transition: -moz-transform 0.2s ease, opacity 0.25s ease;
          // transition: transform 0.2s ease, opacity 0.25s ease;
          &:hover {
            cursor: pointer;
            opacity: 1;
            // @include transform(translateX(-3px));
          }
        }
        &.fp-next {
          background: transparent url("{{ '/src/img/right.svg' | prepend: site.baseurl }}") no-repeat;
          width: 30px;
          height: 30px;
          background-size: 30px 30px;
          float: left;
          margin-right: 0px;
          opacity: .3;
          display: block;
          // -webkit-transition: -webkit-transform 0.2s ease, opacity 0.25s ease;
          // -moz-transition: -moz-transform 0.2s ease, opacity 0.25s ease;
          // transition: transform 0.2s ease, opacity 0.25s ease;
          &:hover {
            cursor: pointer;
            opacity: 1;
            // @include transform(translateX(3px));
          }
        }

      }
    }
    h1 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 1.5px;
      margin-bottom: 6px;
      color: $main-text;
      margin-top: 28px;
    }
    p {
      font-size: 16px;
      color: $secondary-text;
      letter-spacing: .25px;
      line-height: 1.5;
      &.subtitle {
        font-size: 16px;
        letter-spacing: .55px;
        margin-bottom: 12px;
        line-height: 1.42857;
        color: $main-text;
      }
    }
    .col-md-2 {
      text-align: right;
    }
  }

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  @include transition-property(transform);
  @include transition-duration(.4s);

  &.lateral-menu-is-open {
    @include transform(translateX(260px));
  }

  @include MQ(M) {
  }
}

header {
  position: absolute;
  top: 20px;
  left: 18px;
  height: 40px;
  width: 40px;
  z-index: $header-zindex;

  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  @include transition-property(transform);
  @include transition-duration(.4s);

  &.lateral-menu-is-open {
    @include transform(translateX(260px));
  }

  &.is-fixed {
    position: fixed;
  }

  @include MQ(M) {
  }
}


#top-nav {
  position: absolute;
  top: 0;
  right: 120px;
  height: 100%;

  display: none;

  ul {
    height: 100%;
    padding-top: 18px;
  }

  li {
    display: inline-block;
    margin-right: 1em;
  }

  a {
    display: inline-block;
    padding: .5em;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;

    .no-touch &:hover {
      color: rgba(#FFFFFF, .7);
    }
  }

  @include MQ(M) {
    display: block;
  }
}

#menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;

  .menu-icon {
    display: inline-block;
    position: absolute;
    @include center;
    width: 18px;
    height: 2px;
    background-color: $main-text;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    &::before, &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: inherit;
      left: 0;
      transition-duration: 0.6s;
      transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    }

    &::before {
      bottom: 6px;
    }

    &::after {
      top: 6px;
    }
  }

  &.is-clicked {
    .menu-icon {
      background-color: rgba($main-text, 0);
      &::before, &::after {
        background-color: rgba($main-text, 1);
      }

      &::before {
        bottom: 0;
        @include transform(rotate(45deg));
      }

      &::after {
        top: 0;
        @include transform(rotate(-225deg));
      }
    }
  }

  @include MQ(M) {
    width: 40px;

    .menu-icon {
      @include center(xy);
    }
  }
}

#lateral-nav {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  border-right: 1px solid $border-color;
  z-index: 1;
  width: 260px;
  background-color: #FFFFFF;
  overflow-y: auto;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  -webkit-transition: -webkit-transform .25s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .25s 0s, visibility 0s .4s;
  transition: transform .25s 0s, visibility 0s .4s;

  @include transform(translateX(-80px));

  .menu {
    width: 100%;
    position: absolute;
    @include center(y);
    .brand {
      margin-bottom: 48px;
      .logo {
        display: block;
        img {
          width: 92px;
        }
      }
    }
  }

  .social {
    margin-bottom: 0;
    @include transform(translateX(-10px));
    transition: opacity .2s ease 0s;
    -webkit-transition: opacity .2s ease 0s;
    -moz-transition: opacity .2s ease 0s;
    opacity: 0;
    a {
      color: $secondary-text;
      text-decoration: none;
      border-bottom: solid 1px $border-color;
      font-style: italic;
      line-height: 2em;
      -webkit-transition: color 0.2s ease-out;
      -o-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out;
      font-size: 16px;
      @include transition(all 0.2s ease-out);
      &:hover, .no-touch &:hover {
        color: $main-text;
        border-bottom: solid 1px $border-color;
      }
    }
  }

  .navigation {
    margin: 10px 0;
    @include transform(translateX(-10px));
    transition: opacity .2s ease 0s;
    -webkit-transition: opacity .2s ease 0s;
    -moz-transition: opacity .2s ease 0s;
    opacity: 0;

    li {
      &:first-child {
        margin-bottom: 0px;
        a {
          padding-bottom: 0px;
          img {
            margin: 0 auto 48px;
            width: 92px;
          }
        }
      }
      margin-bottom: 12px;
      a {
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 2.25px;
        padding-bottom: 2px;
        @include transition(color 0.2s ease-out);
        line-height: 2em;
        color: $secondary-text;
        &.submenu-open {
          text-decoration: none;
          color: $main-text;
        }
        &:hover, .no-touch &:hover {
          text-decoration: none;
          color: $main-text;
        }
        &:focus, .no-touch &:focus {
          text-decoration: none;
          outline: none;
          -moz-outline-style: none;
        }
        &:active, .no-touch &:active {
          text-decoration: none;
          outline: none;
          -moz-outline-style: none;
        }
      }
      .sub-menu {
        padding: 9px 14px 2px;
        display: none;
        li {
          margin-bottom: 5px;
          a {
            font-size: 10px;
            color: $secondary-text;
            font-weight: 600;
            &:hover, .no-touch &:hover {
              color: $main-text;
              border-bottom: none;
            }
          }
        }
      }
      &.active {
        a {
          color: $main-text;
          &.logo {border-bottom: none;}
        }
        .sub-menu {
          a {border-bottom: none;}
        }
      }
    }
  }

  @include MQ(M) {
    .navigation {
      margin: 0px 0px 20px;
    }
  }

  &.lateral-menu-is-open {
    @include transform(translateX(0));
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;

    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;

    .navigation, .social {
      @include transform(translateX(0));
      transition: transform .85s ease-in-out 0.0s, opacity 1.55s 0s ease-in-out;
      -webkit-transition: -webkit-transform .85s ease-in-out 0.0s, opacity 1.55s 0s ease-in-out;
      -moz-transition: -moz-transform .85s ease-in-out 0.0s, opacity 1.55s 0s ease-in-out;
      opacity: 1;
    }
  }
}

.slideshow {
  img.img-responsive {
    width: 780px;
    margin: 0 auto;
    padding: 0px 0px 30px;
  }
  @include transform(translateX(0));
  -webkit-transition: -webkit-transform .4s 0s;
  -moz-transition: -moz-transform .4s 0s;
  transition: transform .4s 0s;
  @media screen and (min-width: $screen-md-min) {
    &.slideshow-active {
      @include transform(translateX(-130px));
      -webkit-transition: -webkit-transform .4s 0s;
      -moz-transition: -moz-transform .4s 0s;
      transition: transform .4s 0s;
    }
  }
}

.slick-dots {
  bottom: 0px;
}

