!!! 5
%html{:lang => "en"}
  %head
    {% include head.html %}

  %body{:style => "display: none;"}
    #fakeLoader
    %header.is-fixed
      %a#menu-trigger{:href=>"#0"}
        %span.menu-icon

    #fullpage.main-content
      .section#section0
        .container-fluid
          .row
            .col-md-12
              %img.img-responsive.slideshow{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
          .row.work-content
            .col-md-8.col-md-offset-2
              .row.slideshow
                .col-md-8
                  %h1 DOGGYLOOT
                  %p.subtitle UI/UX Design, Web Development
                  %p Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis.
                .col-md-2.col-md-offset-2
                  %p PREV NEXT
      .section#section1
        .slide
          .container-fluid
            .row
              .col-md-12
                %img.img-responsive.slideshow{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
            .row.work-content
              .col-md-8.col-md-offset-2
                .row.slideshow
                  .col-md-8
                    %h1 DOGGYLOOT
                    %p.subtitle UI/UX Design, Web Development
                    %p Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis.
                  .col-md-2.col-md-offset-2
                    %p PREV NEXT

        .slide
          .container-fluid
            .row
              .col-md-12
                %img.img-responsive.slideshow{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
            .row.work-content
              .col-md-8.col-md-offset-2
                .row.slideshow
                  .col-md-8
                    %h1 DOGGYLOOT
                    %p.subtitle UI/UX Design, Web Development
                    %p Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis.
                  .col-md-2.col-md-offset-2
                    %p PREV NEXT

        .slide
          .container-fluid
            .row
              .col-md-12
                %img.img-responsive.slideshow{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
            .row.work-content
              .col-md-8.col-md-offset-2
                .row.slideshow
                  .col-md-8
                    %h1 DOGGYLOOT
                    %p.subtitle UI/UX Design, Web Development
                    %p Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis.
                  .col-md-2.col-md-offset-2
                    %p PREV NEXT

      .section#section2
        .container-fluid
          .row
            .col-md-12
              %img.img-responsive.slideshow{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
          .row.work-content
            .col-md-8.col-md-offset-2
              .row.slideshow
                .col-md-8
                  %h1 DOGGYLOOT
                  %p.subtitle UI/UX Design, Web Development
                  %p Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis.
                .col-md-2.col-md-offset-2
                  %p PREV NEXT

      .section#section3
        .container-fluid
          .row
            .col-md-12
              %img.img-responsive.slideshow{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
          .row.work-content
            .col-md-8.col-md-offset-2
              .row.slideshow
                .col-md-8
                  %h1 DOGGYLOOT
                  %p.subtitle UI/UX Design, Web Development
                  %p Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis.
                .col-md-2.col-md-offset-2
                  %p PREV NEXT

    -# %main.main-content
    -#   %h1 Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.

    -#   {{ content }}

    {% include navigation.html %}

    {% include js.html %}

