!!! 5
%html{:lang => "en"}
  %head
    {% include head.html %}
  %body{:style => "display: none;"}
    %header.is-fixed
      %a#menu-trigger{:href=>"#0"}
        %span.menu-icon

    -# Home page
    #fullpage.main-content
      .section.landing-section
        .container-fluid
          .row
            .col-md-6.col-md-offset-3
              .row.slideshow.text-left
                %h1
                  HEY THERE, I'M JAKUB MYSIAK,
                  %br
                  A DESIGNER & WEB DEVELOPER
                  %br
                  CURRENTLY BASED IN CHICAGO
                %p
                  "Curiosity is a willing, a proud, an eager confession of ignorance."
                  %span – S. Leonard Rubinstein
      -# Work page
      .section
        .slide{"data-anchor" => "slideOne"}
          .container-fluid
            .row
              .col-md-8.col-md-offset-2
                .row.slideshow
                  .slick-slideshow
                    .slick-slide
                      %img.img-responsive{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
                    .slick-slide
                      %img.img-responsive{:src => "{{ '/src/img/ph-img-2.jpg' | prepend: site.baseurl }}"}
                    .slick-slide
                      %img.img-responsive{:src => "{{ '/src/img/ph-img-5.jpg' | prepend: site.baseurl }}"}

            -# .row.work-content
            -#   .col-md-8.col-md-offset-2
            -#     .row.slideshow
            -#       .col-md-12.content-copy
            -#         %h1 DOGGYLOOT
            -#         %p.subtitle UI/UX Design, Web Development
            -#         %p Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

        .slide{"data-anchor" => "slideTwo"}
          .container-fluid
            .row
              .col-md-8.col-md-offset-2
                .row.slideshow
                  .slick-slideshow
                    .slick-slide
                      %img.img-responsive{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
                    .slick-slide
                      %img.img-responsive{:src => "{{ '/src/img/ph-img-2.jpg' | prepend: site.baseurl }}"}
                    .slick-slide
                      %img.img-responsive{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
            -# .row.work-content
            -#   .col-md-8.col-md-offset-2
            -#     .row.slideshow
            -#       .col-md-12.content-copy
            -#         %h1 DOGGYLOOT ADMIN
            -#         %p.subtitle UI/UX Design, Web Development
            -#         %p Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

        .slide{"data-anchor" => "slideThree"}
          .container-fluid
            .row
              .col-md-8.col-md-offset-2
                .row.slideshow
                  .slick-slideshow
                    .slick-slide
                      %img.img-responsive{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
                    .slick-slide
                      %img.img-responsive{:src => "{{ '/src/img/ph-img-2.jpg' | prepend: site.baseurl }}"}
                    .slick-slide
                      %img.img-responsive{:src => "{{ '/src/img/ph-img.jpg' | prepend: site.baseurl }}"}
            -# .row.work-content
            -#   .col-md-12.col-md-offset-2
            -#     .row.slideshow
            -#       .col-md-8.content-copy
            -#         %h1 PERSONAL
            -#         %p.subtitle UI/UX Design, Web Development
            -#         %p Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      -# About page
      .section.about-section
        .container-fluid
          .row
            .col-md-6.col-md-offset-3
              .row.slideshow.text-left
                %h1 About Me
                %p
                  I admire vulnerability, desire constructive criticism, and get lost in learning for the sake of peronsonal achievement. This should express, in no uncertain terms, that intellectual curiosity is the root of my pleasure and success. Here's to pushing the boundaries of creative potential.
                  .sub-section
                    %p
                      %span SKILLS &amp; EXPERTISE –
                      UI/UX Design, Frontend Development, Web Development, Branding & Packaging
                    %p
                      %span TECHNOLOGY –
                      HTML5, HAML, CSS3, SASS, Javascript, jQuery, Ruby/Ruby on Rails, GIT
                    %p
                      %span SOFTWARE –
                      Photoshop, Illustrator, InDesign, After Effects, Lightroom, Cinema 4D

      -# Contact page
      .section.contact-section
        .container-fluid
          .row
            .col-md-6.col-md-offset-3
              .row.slideshow.text-left
                %h1 Say Hello!
                %p
                  What's on your mind? I'm interested, and am very happy to meet you.
                %p
                  %a{:href=>"mailto:jakub@jakubmysiak.com"} jakub@jakubmysiak.com
                %p
                  %a{:href=>"https://www.facebook.com/jmysiak"} facebook.com/jmysiak
                  %a{:href=>"https://www.twitter.com/j_mysiak"} twitter.com/j_mysiak
                  %a{:href=>"http://www.instagram.com/jmysiak/"} instagram.com/jmysiak/


    -#   {{ content }}

    {% include navigation.html %}

    {% include js.html %}

