!!!
%html{:lang => "en"}
  %head
    {% include head.html %}

  %body
    {% include header.html %}

    .container
      .row
        .col-md-12
          {{ content }}
    {% include footer.html %}
    {% include js.html %}

