<nav id='lateral-nav'>
  <div class='menu text-left'>
    <ul class='navigation list-unstyled'>
      <li data-menuanchor='homePage'>
        <a class='logo' href='#homePage'>
          <img src="{{ '/src/img/logo.svg' | prepend: site.baseurl }}">
        </a>
      </li>
      <li data-menuanchor='workPage'>
        <a class='work' href='#workPage' id='workLink'>WORK</a>
        <ul class='sub-menu list-unstyled'>
          <li data-anchor='slideOne'>
            <a class='sub-link' href='#workPage/0'>Doggyloot</a>
          </li>
          <li data-anchor='slideTwo'>
            <a class='sub-link' href='#workPage/1'>Doggyloot(Admin)</a>
          </li>
          <li data-anchor='slideThree'>
            <a class='sub-link' href='#workPage/2'>Personal Project</a>
          </li>
        </ul>
      </li>
      <li data-menuanchor='aboutPage'>
        <a href='#aboutPage' id='aboutLink'>ABOUT</a>
      </li>
      <li data-menuanchor='contactPage'>
        <a href='#contactPage' id='contactLink'>CONTACT</a>
      </li>
    </ul>
    <ul class='social list-unstyled'>
      <li>
        <a href='#'>linkedin.com/in/jakubmysiak</a>
      </li>
      <li>
        <a href='#'>github.com/jmysiak</a>
      </li>
    </ul>
  </div>
</nav>
