<nav id='lateral-nav'>
  <div class='menu text-center'>
    <ul class='navigation list-unstyled'>
      <li data-menuanchor='homePage'>
        <a href='#homePage'>HOME</a>
      </li>
      <li class='item-has-children' data-menuanchor='workPage'>
        <a href='#workPage' id='workLink'>WORK</a>
        <ul class='sub-menu list-unstyled'>
          <li>
            <a href='#workPage/0'>Doggyloot</a>
          </li>
          <li>
            <a href='#workPage/1'>Doggyloot Admin</a>
          </li>
          <li>
            <a href='#workPage/2'>Personal</a>
          </li>
        </ul>
      </li>
      <li data-menuanchor='aboutPage'>
        <a href='#aboutPage'>ABOUT</a>
      </li>
      <li data-menuanchor='contactPage'>
        <a class='current' href='#contactPage'>CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
