// colors

$main-text: #484848; // main text
$secondary-text: #AFAFAF; // secondary text
$link: #9BA3E4; // anchor tags
$border-color: #EEEEEE;
$background: #F6F6F6; // body background color

// fonts

$primary-font: $brandon;

// z-index

$secondary-nav: 1;
$content-zindex: 2;
$header-zindex: 3;

// header height

$header-S: 50px;
$header-M: 70px;
