<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id='fakeLoader'></div>
    <header>
      <a href='#0' id='menu-trigger'>
        <span class='menu-icon'></span>
      </a>
    </header>
    <main class='main-content'>
      <h1>Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.</h1>
      {{ content }}
    </main>
    {% include navigation.html %}
    {% include js.html %}
  </body>
</html>
