<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include head.html %}
  </head>
  <body style='display: none;'>
    <div class='main-content' id='fullpage'>
      <div class='section landing-section'>
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1'>
              <div class='slideshow text-center'>
                <a href='mailto:jakub@jakubmysiak.com'>
                  <i class='em em-construction'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include js.html %}
  </body>
</html>
