-# Jquery
%script{:src  => "{{ '/js/jquery-1.11.2.min.js' | prepend: site.baseurl }}"}
%script{:src  => "{{ '/js/jquery-ui.min.js' | prepend: site.baseurl }}"}

-# Bootstrap
%script{:src  => "{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"}

-# Vendor
%script{:src  => "{{ '/js/fullPage.js' | prepend: site.baseurl }}"}
:javascript
  $(document).ready(function() {
    $('#fullpage').fullpage({
      anchors: ['homePage', 'workPage', 'aboutPage', 'contactPage'],
      menu: '#lateral-nav',
      sectionsColor: ['#f6f6f6'],
      scrollingSpeed: 1000,
      easing: 'easeInOutCubic',
      scrollBar: false,
      css3: false,
      controlArrows: false
    });
  });
%script{:src  => "{{ '/js/slick.js' | prepend: site.baseurl }}"}
:javascript
  $(document).ready(function() {
    $('.slick-slideshow').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      slide: 'div',
      cssEase: 'linear',
      arrows: false,
      accessibility: false
    });
  });

-# Custom
%script{:src  => "{{ '/js/main.js' | prepend: site.baseurl }}"}
