%nav#lateral-nav
  .menu.text-center
    %ul.navigation.list-unstyled
      %li.item-has-children
        %a#workLink{:href => "#0"} Work
        %ul.sub-menu.list-unstyled
          %li
            %a{:href => "#0"} Brand
          %li
            %a{:href => "#0"} Web Apps
          %li
            %a{:href => "#0"} Mobile Apps
      / item-has-children

      %li.item-has-children
        %a{:href => "#0"} ABOUT
        %ul.sub-menu.list-unstyled
          %li
            %a{:href => "#0"} Product 1
          %li
            %a{:href => "#0"} Product 2
          %li
            %a{:href => "#0"} Product 3
          %li
            %a{:href => "#0"} Product 4
          %li
            %a{:href => "#0"} Product 5
      / item-has-children

      %li
        %a.current{:href => "#0"} CONTACT

