%nav#lateral-nav
  .menu.text-left
    %ul.navigation.list-unstyled
      -# Logo
      %li{"data-menuanchor" => "homePage"}
        %a.logo{:href=>"#homePage"}
          %img{:src=>"{{ '/src/img/logo.svg' | prepend: site.baseurl }}"}

      -# Work
      %li{"data-menuanchor" => "workPage"}
        %a#workLink.work{:href => "#workPage"} WORK

        -# Sub-menu
        %ul.sub-menu.list-unstyled
          %li{"data-anchor" => "slideOne"}
            %a.sub-link{:href => "#workPage/0"} Whil
          %li{"data-anchor" => "slideTwo"}
            %a.sub-link{:href => "#workPage/1"} URX
          %li{"data-anchor" => "slideThree"}
            %a.sub-link{:href => "#workPage/2"} HighGround
          %li{"data-anchor" => "slideFour"}
            %a.sub-link{:href => "#workPage/3"} Doggyloot

      -# About
      %li{"data-menuanchor" => "aboutPage"}
        %a#aboutLink{:href => "#aboutPage"} ABOUT

      -# Contact
      %li{"data-menuanchor" => "contactPage"}
        %a#contactLink{:href => "#contactPage"} CONTACT

    %ul.social.list-unstyled
      %li
        %a{:href => "https://dribbble.com/jmysiak"} dribbble.com/jmysiak
      %li
        %a{:href => "https://www.linkedin.com/in/jakubmysiak"} linkedin.com/in/jakubmysiak
      %li
        %a{:href => "https://github.com/jmysiak"} github.com/jmysiak
