%nav#lateral-nav
  .menu.text-center
    %ul.navigation.list-unstyled
      %li{"data-menuanchor" => "homePage"}
        %a{:href => "#homePage"} HOME

      %li.item-has-children{"data-menuanchor" => "workPage"}
        %a#workLink{:href => "#workPage"} WORK
        %ul.sub-menu.list-unstyled
          %li
            %a{:href => "#workPage/0"} Doggyloot
          %li
            %a{:href => "#workPage/1"} Doggyloot Admin
          %li
            %a{:href => "#workPage/2"} Personal

      %li{"data-menuanchor" => "aboutPage"}
        %a{:href => "#aboutPage"} ABOUT

      %li{"data-menuanchor" => "contactPage"}
        %a.current{:href => "#contactPage"} CONTACT

