%nav#lateral-nav
  .menu.text-center
    .brand{"data-menuanchor" => "homePage"}
      %a.logo{:href=>"#homePage"}
        %img{:src=>"{{ '/src/img/logo.svg' | prepend: site.baseurl }}"}


    %ul.navigation.list-unstyled
      -# %li.item-no-children{"data-menuanchor" => "homePage"}
      -#   %a#homeLink{:href => "#homePage"} HOME

      %li.item-has-children{"data-menuanchor" => "workPage"}
        %a#workLink{:href => "#workPage"} WORK
        %ul.sub-menu.list-unstyled
          %li
            %a{:href => "#workPage/0"} Doggyloot
          %li
            %a{:href => "#workPage/1"} Doggyloot Admin
          %li
            %a{:href => "#workPage/2"} Personal

      %li.item-no-children{"data-menuanchor" => "aboutPage"}
        %a#aboutLink{:href => "#aboutPage"} ABOUT

      %li.item-no-children{"data-menuanchor" => "contactPage"}
        %a#contactLink{:href => "#contactPage"} CONTACT

