%nav#lateral-nav
  .menu.text-center
    -# .brand{"data-menuanchor" => "homePage"}
    -#   %a.logo{:href=>"#homePage"}
    -#     %img{:src=>"{{ '/src/img/logo.svg' | prepend: site.baseurl }}"}
    %ul.navigation.list-unstyled
      -# Logo Section
      %li{"data-menuanchor" => "homePage"}
        %a.logo{:href=>"#homePage"}
          %img{:src=>"{{ '/src/img/logo.svg' | prepend: site.baseurl }}"}

      -# Work Section
      %li{"data-menuanchor" => "workPage"}
        %a#workLink.work{:href => "#workPage"} WORK

        -# Sub-menu
        %ul.sub-menu.list-unstyled
          %li{"data-anchor" => "slideOne"}
            %a.sub-link{:href => "#workPage/0"} Doggyloot
          %li{"data-anchor" => "slideTwo"}
            %a.sub-link{:href => "#workPage/1"} Doggyloot Admin
          %li{"data-anchor" => "slideThree"}
            %a.sub-link{:href => "#workPage/2"} Personal

      -# About Section
      %li{"data-menuanchor" => "aboutPage"}
        %a#aboutLink{:href => "#aboutPage"} ABOUT

      -# Contact Section
      %li{"data-menuanchor" => "contactPage"}
        %a#contactLink{:href => "#contactPage"} CONTACT

    %ul.social.list-unstyled
      %li
        %a{:href => "#"} linkedin.com/in/jakubmysiak
      %li
        %a{:href => "#"} github.com/jmysiak
      -# %li
      -#   %a{:href => "#"} twitter.com/j_mysiak
      -# %li
      -#   %a{:href => "#"} instagram.com/jmysiak
